:root {
    --main-font: system-ui;

    /* Dark Mode Colors */
    --foreground-dk: #FFFFFF;
    --background-dk: #00171F;
    --main-dk: #003459;
    --secondary-dk: #007EA7;
    --alternative-dk: #00A8E8;

    /* Light Mode Colors */
    --foreground-lg: #000000;
    --background-lg: #FFFFFF;
    --main-lg: #D9D9D9;
    --secondary-lg: #A6A6A6;
    --alternative-lg: #7D7D7D;
}

* {
    font-family: var(--main-font);
    font-size: large;
    font-weight: bold;
}

/* Default to Dark Mode */
body {
    color: var(--foreground-dk);
    background-color: var(--background-dk);
}

/* Dark Mode Styles */
.body-dk {
    color: var(--foreground-dk);
    background-color: var(--background-dk);
}

/* Light Mode Styles */
.body-lg {
    color: var(--foreground-lg);
    background-color: var(--background-lg);
}

/* Navegación Común */
.body-nav {
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: 1rem;
    border: solid 0.01rem var(--foreground-dk);
    border-radius: 1rem;
}

/* Ajuste de color para cada modo */
.body-dk .body-nav {
    border-color: var(--foreground-dk);
}

.body-lg .body-nav {
    border-color: var(--foreground-lg);
}

.body-nav-a-img {
    width: 5rem;
    height: 5rem;
}

.body-nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}

.body-nav-ul-li {
    background-color: var(--alternative-dk);
    border: 0.01rem solid black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
    border-radius: 1rem;
}

.body-dk .body-nav-ul-li {
    background-color: var(--alternative-dk);
}

.body-lg .body-nav-ul-li {
    background-color: var(--alternative-lg);
}

.body-nav-ul-li-a {
    text-decoration: none;
}

.body-nav-button {
    background-color: var(--alternative-dk);
    border: 0.01rem solid black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: auto;
    cursor: pointer;
    border-radius: 1rem;
}

.body-dk .body-nav-button {
    background-color: var(--alternative-dk);
}

.body-lg .body-nav-button {
    background-color: var(--alternative-lg);
}

.body-nav-button:hover {
    opacity: 0.8;
}

.body-nav-button i {
    background-color: inherit;
}

.body-nav-select {
    border: 0.01rem solid black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    justify-content: center;
}

.body-nav-select option {
    color: inherit;
}

.body-nav-select:hover,
.body-nav-select:active {
    opacity: 0.8;
}
